@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.header img {
    width: 40px;
    height: 40px;
}

.title {
    margin-top: 80px; /* Ajustar para dar más espacio entre el título y los iconos */
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
}

.list-item {
    background-color: #FEF445;
    color: #1A1A1A;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 400px;
    margin-top: auto;
    padding-bottom: 20px;
}

.nav-buttons button {
    width: 48%;
    padding: 10px;
    background-color: #FEF445;
    color: #1A1A1A;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.nav-buttons button:hover {
    background-color: #E6DA3B;
}
